/*-----------------------------------------------*/
/*BASIC SETUP*/
/*-----------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
   color: rgb(200, 179, 219)   
}
body {
    background-color: rgb(84, 61, 87);
    background-image: url("./img/bg.jpg");
}
.clearfix {
    *zoom: 1;
}
.clearfix::before,
.clearfix::after {
    content: (" ");
    display: table;
}
.clearfix::after {
    clear: both;
    margin-bottom: 20px;
}
/*-----------------------------------------------*/
/*HEDEAR*/
/*-----------------------------------------------*/
header .avatar {
    margin-top: 70px;
    text-align: center;   
}
header .avatar img {
   width: 10%;
   padding: 7px; 
   border: 1px solid rgba(212, 199, 224, 0.2);
   border-radius: 200px;
   box-shadow: 0px 0px 0px 9px rgba(184, 100, 196, 0.199) inset;
     
}
header .hero-para {
    width: 40%;
    text-align: center;
    font-size: 50%;
    margin: 35px auto 20px;
    line-height: 1.5;
}
header .hero-para h1 :first-child {
    color: rgb(249, 244, 255) 
}
header .hero-para h1 :last-child {
    text-transform: uppercase;
    text-decoration: underline rgb(200, 179, 219) dotted;
}
header ul {
    text-align: center;
}
header ul li {
    display: inline-block;
    margin: 7px;
    padding: 10px 13px;
    font-size: 100%;
    border: 1px solid rgba(212, 199, 224, 0.2);
    border-radius: 200px;
    box-shadow: 0px 0px 0px 26px rgba(184, 100, 196, 0.199) inset;    
}
header ul li:nth-child(2) {
    padding: 10px 16px;
}
/*-----------------------------------------------*/
/*MAIN*/
/*-----------------------------------------------*/
main {
    width: 70%;
    margin: 50px auto;
}                      
main .images {
    width: 100%;
}
main .images .item {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
main .images .item a {
    display: inline-block;
}
main .images .item a img {
    width: 100%;
}
main .images .item:nth-child(n+2) {
    margin-left: 34px;
}
main .images .item p {
    border: 1px solid rgba(208, 188, 240, 0.4);
    border-top: none;
    padding: 10px 8px;
    margin: -3px 0 30px;
    text-align: center;
    color: rgb(200, 179, 219);
    background-color: rgba(216, 191, 216, 0.180);
}
main::after {
        display: block;
        height: 1px;
        background-color:rgba(208, 188, 240, 0.4);
        content: " ";
        width: 150px;
        margin: 0 auto;
        margin-top: 35px;
}
/*-----------------------------------------------*/
/*FOOTER*/
/*-----------------------------------------------*/ 
footer p {
    color: rgb(200, 179, 219);
    text-align: center;
    border-top: 1px  rgba(208, 188, 240, 0.4);
    margin-bottom: 100px;
}
footer p :first-child {
    text-transform: uppercase;
    text-decoration: underline rgb(200, 179, 219) dotted;
}
footer p :last-child {
    text-transform: capitalize;
    text-decoration: underline rgb(200, 179, 219) dotted;
}


